Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.js':
  - eslint --fix
  - prettier --write
  - git add

'*.{md,json,yml,yaml,css,html}':
  - prettier --write
  - git add

add url shortening form
  components/nav.js
  components/url-form.js
  next.config.js
  package.json
  pages/index.js
  yarn.lock
Due: eslint --fix, prettier --write

separate out test and docs
  .circleci/config.yml
Due: prettier --write

fix docs workflow
  .circleci/config.yml
Due: prettier --write

lowercase linkid query parameters
  models/link.js
  models/link.test.js
  routes/api/links.js
  routes/redirect.js
Due: eslint --fix, prettier --write

redirect frontend requests to index.html for client-side routing
  netlify.toml
Due: none

move passport to config
  app.js
  config/passport.js
  routes/auth/index.js
Due: eslint --fix, prettier --write

skip cache in favour of workspace node_modules
  .circleci/config.yml
Due: prettier --write

trim fat
  .huskyrc.yml
  README.md
  package.json
  scripts/generate-schema.js
  yarn.lock
Due: eslint --fix, prettier --write

bloat
  middlewares/access-logger.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

add knexfile
  .env.defaults
  config/schema.json
  knexfile.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

add db commands
  package.json
Due: prettier --write

small fixes
  config/passport.js
  package.json
Due: eslint --fix, prettier --write

fix knex
  knexfile.js
  migrations/20191012232140_create-links.js
Due: eslint --fix, prettier --write

add sqlite support
  .env.defaults
  .gitignore
  knexfile.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

new board who dis
  README.md
Due: prettier --write

add migrations for users/emails/links; WIP #45
  migrations/20191012232140_create-links.js
  migrations/20191012232140_create-users.js
  migrations/20191012232353_create-links.js
  migrations/20191013065938_create-emails.js
Due: eslint --fix, prettier --write

supercharged base model, WIP #45
  models/base.js
Due: eslint --fix, prettier --write

YAML=>JSON build pipeline
  .env.defaults
  .eslintignore
  .gitignore
  .prettierignore
  package.json
Due: prettier --write

WIP #45, added model schemas
  config/schema.yml
Due: prettier --write

migrate to docusaurus
  .dockerignore
  .eslintignore
  Dockerfile
  docker-compose.yml
  docs/.vuepress/config.js
  docs/README.md
  docs/doc1.md
  docs/doc2.md
  docs/doc3.md
  docs/exampledoc4.md
  docs/exampledoc5.md
  docs/guide/README.md
  package.json
  website/README.md
  website/blog/2016-03-11-blog-post.md
  website/blog/2017-04-10-blog-post-two.md
  website/blog/2017-09-25-testing-rss.md
  website/blog/2017-09-26-adding-rss.md
  website/blog/2017-10-24-new-version-1.0.0.md
  website/core/Footer.js
  website/package.json
  website/pages/en/help.js
  website/pages/en/index.js
  website/pages/en/users.js
  website/sidebars.json
  website/siteConfig.js
  website/static/css/custom.css
  website/static/img/favicon.ico
  website/static/img/oss_logo.png
  website/static/img/undraw_code_review.svg
  website/static/img/undraw_monitor.svg
  website/static/img/undraw_note_list.svg
  website/static/img/undraw_online.svg
  website/static/img/undraw_open_source.svg
  website/static/img/undraw_operating_system.svg
  website/static/img/undraw_react.svg
  website/static/img/undraw_tweetstorm.svg
  website/static/img/undraw_youtube_tutorial.svg
  website/yarn.lock
  yarn.lock
Due: eslint --fix, prettier --write

cleanup
  .prettierignore
  package.json
  website/i18n/en.json
  yarn.lock
Due: prettier --write

cleanup for docusaurus
  .circleci/config.yml
  .dockerignore
  Dockerfile
  docker-compose.yml
  package.json
Due: prettier --write

github/slack organization support
  migrations/20191013065938_create-emails.js
  migrations/20191017230534_create-organizations.js
Due: eslint --fix, prettier --write

focus on team-based organizations and allow M:N relationship
  .env.defaults
  migrations/20191017231339_user-organizations.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

update schema
  config/schema.yml
Due: prettier --write

update clean command to include auto-generated json config files
  package.json
Due: prettier --write

basic user structure models
  models/base.js
  models/organization.js
  models/user.js
Due: eslint --fix, prettier --write

add types to organizations to differentiate between slack and github (just in case)
  migrations/20191017230534_create-organizations.js
Due: eslint --fix, prettier --write

closes #45
  models/link.js
  models/sequence.js
  models/sequence.test.js
Due: eslint --fix, prettier --write

users-organizations => affiliations
  migrations/20191017231339_user-organizations.js
  models/base.js
  models/organization.js
  models/user.js
Due: eslint --fix, prettier --write

I settled on using slack teams as THE source of truth for teams
  config/schema.yml
  migrations/20191012232140_create-users.js
  migrations/20191012232353_create-links.js
  migrations/20191017230534_create-teams.js
  migrations/20191017231339_user-organizations.js
  migrations/20191018192251_create-associations.js
  models/base.js
  models/link.js
  models/organization.js
  models/team.js
  models/user.js
Due: eslint --fix, prettier --write

add sign in with slack
  .env.defaults
  config/passport.js
  lib/passport.js
  lib/slack.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

cleanup and add server startup script
  .env.defaults
  app.js
  bin/www
  knexfile.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

cleanup
  .env.defaults
  lib/mongoose.js
  middlewares/session.js
  netlify.toml
Due: eslint --fix, prettier --write

use model names as canonical table names
  config/passport.js
  migrations/20191012232140_create-users.js
  migrations/20191012232353_create-links.js
  migrations/20191017230534_create-teams.js
Due: eslint --fix, prettier --write

back to nextjs SPA
  bin/deploy
  bin/remove
  bin/www
  netlify.toml
  package.json
Due: prettier --write

case-sensitive auto hash, case-insensitive (lowercased) custom hash
  components/url-form.js
  migrations/20191012232353_create-links.js
  models/link.js
  models/link.test.js
Due: eslint --fix, prettier --write

remember me session
  .env.defaults
  app.js
  bin/www
  lib/passport.js
  lib/redis.js
  lib/token.js
  middlewares/express-logger.js
  models/link.js
  package.json
  routes/auth/index.js
  yarn.lock
Due: eslint --fix, prettier --write

move to redis sessions
  middlewares/session.js
Due: eslint --fix, prettier --write

instead of lowercasing, camelCase custom hash
  config/schema.yml
  migrations/20191012232353_create-links.js
  models/link.js
  package.json
Due: eslint --fix, prettier --write
