Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

explicit scope name
  models/link.test.js
Due: eslint --fix, prettier --write

automatically assign superuser role to first user
  middlewares/passport.js
  models/user.js
  models/user.test.js
  package.json
  scripts/promote-user
Due: eslint --fix, prettier --write

deprecated react-admin usage
  src/components/shortener.js
Due: eslint --fix, prettier --write

fix tests
  models/user.test.js
Due: eslint --fix, prettier --write

signup docs [skip ci]
  website/docs/2. Installation/2.2 Shortcut.md
  website/docs/3. Server Administration/3.2 Access Control.md
Due: prettier --write

fix test
  __utils__/dev-test-setup.js
Due: eslint --fix, prettier --write

god please work
  __utils__/dev-test-setup.js
  lib/logger.js
Due: eslint --fix, prettier --write

QR Code
  package-lock.json
  package.json
  src/components/avatar-field.js
  src/components/qr-code.js
  src/components/shortener.js
  src/resources/link.js
Due: eslint --fix, prettier --write

dont blow up qr size
  src/components/qr-code.js
Due: eslint --fix, prettier --write

log colourization
  .env.development
  lib/logger.js
Due: eslint --fix, prettier --write

yeet
  config/index.js
  nodemon.json
  package.json
Due: eslint --fix, prettier --write

yeet
  package.json
Due: prettier --write

update deps
  package-lock.json
Due: prettier --write

they finally fixed it
  lib/logger.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix 1
  lib/logger.js
Due: eslint --fix, prettier --write

flush
  package-lock.json
  package.json
Due: prettier --write

config deps
  package-lock.json
  package.json
Due: prettier --write

docs [skip ci]
  README.md
  website/docs/1. Introduction/1.1 About.md
Due: prettier --write

remove 301 redirects
  .huskyrc.yml
  config/traefik/traefik.dynamic.yml
  config/traefik/traefik.yml
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

fix traefik config
  config/traefik/traefik.yml
Due: prettier --write

ditch the exec workflow
  Makefile
Due: none

make dev/test instead of make run/exec
  README.md
Due: prettier --write

fix python dep and pull npmrc
  .dockerignore
  Dockerfile
Due: none

extract as much to jest as possible
  __utils__/dev-test-setup.js
  __utils__/knex-test.js
  __utils__/teardown-db.js
  jest.config.js
  models/link.test.js
  models/user.test.js
  routes/api/links.test.js
  routes/api/users.test.js
  routes/redirect.test.js
Due: eslint --fix, prettier --write

Add renovate.json
  renovate.json
Due: prettier --write

Update renovate.json
  renovate.json
Due: prettier --write

fix linting
  .eslintrc.yml
  .gitignore
  package.json
Due: prettier --write

fix the type error that was showing up when shortening
  README.md
  package.json
  src/components/shortener.js
  src/components/shortener.test.js
Due: eslint --fix, prettier --write

fix memory leak
  src/components/qr-code.js
Due: eslint --fix, prettier --write

test
  .circleci/config.yml
Due: prettier --write

fix config
  .circleci/config.yml
Due: prettier --write

try upgrading runner size to shorten duration
  .circleci/config.yml
Due: prettier --write

update configs
  .circleci/config.yml
Due: prettier --write

fix config?
  .circleci/config.yml
Due: prettier --write

fix shortener copying
  src/components/shortener.js
Due: eslint --fix, prettier --write

explicitly pin resource size
  .circleci/config.yml
Due: prettier --write

NODE_ENV shouldn't be necessary now
  package.json
Due: prettier --write

update images
  .circleci/config.yml
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

why does npm install still take so long
  .npmrc
Due: none

fix inconsistent behaviours with null vs. undefined
  config/schema/link.yaml
  config/schema/user.yaml
  lib/logger.js
  models/base.js
  src/resources/link.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{md,json,yml,yaml,css,html,toml})
