Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.js':
  - eslint --fix
  - prettier --write

'*.{md,json,yml,yaml,css,html,toml}':
  - prettier --write

QR code implementation + improvements (#666)
  .circleci/config.yml
  .dockerignore
  .env.development
  .eslintrc.yml
  .gitignore
  .huskyrc.yml
  .npmrc
  Dockerfile
  Makefile
  README.md
  __utils__/dev-test-setup.js
  __utils__/knex-test.js
  __utils__/teardown-db.js
  config/index.js
  config/schema/link.yaml
  config/schema/user.yaml
  config/traefik/traefik.dynamic.yml
  config/traefik/traefik.yml
  docker-compose.dev.yml
  docker-compose.yml
  jest.config.js
  lib/logger.js
  models/base.js
  models/link.test.js
  models/user.test.js
  nodemon.json
  package-lock.json
  package.json
  routes/api/links.test.js
  routes/api/users.test.js
  routes/redirect.test.js
  src/components/avatar-field.js
  src/components/qr-code.js
  src/components/shortener.js
  src/components/shortener.test.js
  src/resources/link.js
  website/docs/1. Introduction/1.1 About.md
Due: eslint --fix, prettier --write

yeet (#619)
  .circleci/config.yml
  .dockerignore
  .env.development
  .eslintrc.yml
  .gitignore
  .huskyrc.yml
  .npmrc
  Dockerfile
  Makefile
  README.md
  __utils__/dev-test-setup.js
  __utils__/knex-test.js
  __utils__/teardown-db.js
  config/index.js
  config/schema/link.yaml
  config/schema/user.yaml
  config/traefik/traefik.dynamic.yml
  config/traefik/traefik.yml
  docker-compose.dev.yml
  docker-compose.yml
  jest.config.js
  lib/logger.js
  models/base.js
  models/link.test.js
  models/user.test.js
  nodemon.json
  package-lock.json
  package.json
  routes/api/links.test.js
  routes/api/users.test.js
  routes/redirect.test.js
  src/components/avatar-field.js
  src/components/qr-code.js
  src/components/shortener.js
  src/components/shortener.test.js
  src/resources/link.js
  website/docs/1. Introduction/1.1 About.md
Due: eslint --fix, prettier --write

update major dependencies
  package-lock.json
  package.json
Due: prettier --write

yeet
  middlewares/rate-limiter.js
Due: eslint --fix, prettier --write

what the FUCK is going on with npm
  middlewares/rate-limiter.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

add renovate
  .dockerignore
  renovate.json
Due: prettier --write

Update dependency knex to ^0.95.0
  package.json
Due: prettier --write

bruhh
  Dockerfile
  package-lock.json
Due: prettier --write

Update dependency express-rate-limit to v6
  package-lock.json
  package.json
Due: prettier --write

Update dependency got to v12
  package-lock.json
  package.json
Due: prettier --write

Update dependency normalize-url to v7
  package-lock.json
  package.json
Due: prettier --write

Delete dependabot.yml
  .github/dependabot.yml
Due: prettier --write

Update dependency objection to v3
  package.json
Due: prettier --write

Update dependency objection-authorize to v5
  package.json
Due: prettier --write

Update dependency objection-hashid to v3
  package.json
Due: prettier --write

small doesn't exist for linux machines
  .circleci/config.yml
Due: prettier --write

fix release
  .circleci/config.yml
Due: prettier --write

Update docusaurus monorepo to v2.0.0-beta.14
  website/package-lock.json
  website/package.json
Due: prettier --write

update docs deps [skip ci]
  website/package-lock.json
  website/package.json
  website/sidebars.js
Due: eslint --fix, prettier --write

no longer needed
  package-lock.json
  package.json
Due: prettier --write

audit website deps
  website/package-lock.json
Due: prettier --write

update objection suite
  package-lock.json
  package.json
Due: prettier --write

Update dependency p-timeout to v5
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v12
  package-lock.json
  package.json
Due: prettier --write

update schemas for openapi style
  config/schema/link.yaml
  config/schema/user.yaml
Due: prettier --write

remove defaults; we're not using them anyway
  config/schema/user.yaml
Due: prettier --write

improved logger
  .env.development
  .pino-prettyrc.json
  lib/logger.js
Due: eslint --fix, prettier --write

no union types!
  config/schema/link.yaml
  scripts/compile-schema
Due: prettier --write

fix building
  website/package.json
Due: prettier --write

update pino packages
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

unfuck
  .circleci/config.yml
  Dockerfile
  website/.npmrc
Due: prettier --write

fix transports
  lib/logger.js
Due: eslint --fix, prettier --write

fix ajv formats for the backend
  models/base.js
Due: eslint --fix, prettier --write

automatically stand up
  Makefile
Due: none

fix callbacks for knex v0.95
  __utils__/trxify-test.js
Due: eslint --fix, prettier --write

Update AJV usage (#685)
  .circleci/config.yml
  .env.development
  .pino-prettyrc.json
  Dockerfile
  Makefile
  __utils__/trxify-test.js
  config/schema/link.yaml
  config/schema/user.yaml
  lib/logger.js
  models/base.js
  package-lock.json
  package.json
  scripts/compile-schema
  website/.npmrc
  website/package.json
Due: eslint --fix, prettier --write

update pipeline name
  .circleci/config.yml
Due: prettier --write

update lint-staged
  package-lock.json
  package.json
Due: prettier --write

Update dependency react-scripts to v5
  package-lock.json
  package.json
Due: prettier --write

migrate to react-scripts v5
  .pino-prettyrc.json
  lib/logger.js
  package-lock.json
  package.json
  src/resources/link.js
  src/resources/user.js
Due: eslint --fix, prettier --write
