Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

v0.4.3
  package.json
Due: prettier --write

prettier log format
  lib/logger.js
Due: eslint --fix, prettier --write

restana doesn't support redirect, which may be problematic for passport
  dash/index.js
  lib/express-factory.js
  lib/service-factory.js
  middlewares/error-handler.js
  package.json
  www/index.js
  yarn.lock
Due: eslint --fix, prettier --write

supertest doesn't follow redirect
  www/index.test.js
Due: eslint --fix, prettier --write

v0.4.4
  package.json
Due: prettier --write

integrate morgan with winston for access logging
  dash/index.js
  middlewares/access-logger.js
  www/index.js
Due: eslint --fix, prettier --write

stream.write not stream
  middlewares/access-logger.js
Due: eslint --fix, prettier --write

move all tasks to todo
  README.md
  TODO.md
Due: prettier --write

cleanup
  .env.defaults
  TODO.md
  dash/index.js
  dash/routes/index.js
  dash/routes/links.js
  dash/routes/users.js
  lib/express-factory.js
  lib/mongoose.js
  www/index.js
Due: eslint --fix, prettier --write

preparing app for dashboarding
  .env.defaults
  dash/components/.gitkeep
  dash/index.js
  dash/pages/.gitkeep
  dash/routes/index.js
  dash/routes/links.js
  models/link.js
Due: eslint --fix, prettier --write

use _id as hash instead!
  middlewares/error-handler.js
  models/link.js
  models/link.test.js
  www/index.js
  www/index.test.js
Due: eslint --fix, prettier --write

dependency cleanup
  lib/mongoose.js
  package.json
  public/robots.txt
  yarn.lock
Due: eslint --fix, prettier --write

v0.4.5
  package.json
Due: prettier --write

forgot to change link's redirect url
  www/index.js
Due: eslint --fix, prettier --write

merge into one server
  .eslintrc.yml
  TODO.md
  __tests__/app.js
  __tests__/models/link.js
  app.js
  components/.gitkeep
  dash/index.js
  dash/pages/.gitkeep
  dash/routes/users.js
  lib/express-factory.js
  pages/index.js
  pages/login.js
  routes/api/index.js
  routes/api/links.js
  routes/api/users.js
  routes/app/index.js
  routes/auth/index.js
  routes/index.js
  routes/redirect.js
  www/index.js
Due: eslint --fix, prettier --write

is not a valid type at path
  models/user.js
Due: eslint --fix, prettier --write

I can't leave env variables empty because some tests won't run without it
  .env.defaults
Due: none

fix startup errors
  middlewares/ensure-login.js
  package.json
  routes/api/index.js
  routes/app/index.js
Due: eslint --fix, prettier --write

v0.5.0
  package.json
Due: prettier --write

automated 404 when a single resource is not found
  lib/mongoose.js
  package.json
  routes/redirect.js
  yarn.lock
Due: eslint --fix, prettier --write

update tasks
  TODO.md
Due: prettier --write

cache user details
  lib/mongoose.js
  lib/passport.js
  models/user.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: .snyk & package.json to reduce vulnerabilities
  .snyk
  package.json
Due: prettier --write

move to pino
  lib/logger.js
  lib/passport.js
  logs/.gitkeep
  middlewares/access-logger.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

add express logger
  middlewares/error-handler.js
  middlewares/express-logger.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fill in user model
  app.js
  lib/passport.js
  models/link.js
  models/user.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

cleanup + user/link connection method
  .eslintrc.yml
  models/user.js
  tests/app.js
  tests/models/link.js
Due: eslint --fix, prettier --write

jest doesn't recognize tests directory
  .eslintrc.yml
  __tests__/app.js
  __tests__/models/link.js
Due: eslint --fix, prettier --write

routes cleanup; added user/link features
  models/user.js
  routes/api/index.js
  routes/api/links.js
  routes/api/users.js
  routes/app/index.js
  routes/auth/index.js
  routes/index.js
  routes/redirect.js
Due: eslint --fix, prettier --write

normalizeUrl=>normalizeURL
  models/link.js
Due: eslint --fix, prettier --write

restructuring tests since routes are well-organized now
  .eslintrc.yml
  models/link.test.js
  routes/redirect.test.js
Due: eslint --fix, prettier --write

move tests and add sequence test
  jest.config.js
  models/link.test.js
  models/sequence.js
  models/sequence.test.js
  models/user.test.js
  package.json
  routes/api/links.test.js
  routes/api/users.test.js
Due: eslint --fix, prettier --write

v0.5.1
  package.json
Due: prettier --write

add basic heroku support
  Procfile
  README.md
  app.json
  models/user.test.js
Due: eslint --fix, prettier --write

are you happy now jest?
  models/user.test.js
Due: eslint --fix, prettier --write

cleanup
  TODO.md
  app.js
  app.json
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

add basic redirects
  TODO.md
  app.json
  models/link.js
  routes/redirect.js
Due: eslint --fix, prettier --write

v0.5.2
  package.json
Due: prettier --write

jest config
  .circleci/config.yml
  jest.config.js
Due: eslint --fix, prettier --write

auto-inject routes, for both models and routes
  .env.defaults
  README.md
  TODO.md
  app.js
  config/routes.js
  models/link.js
  package.json
  routes/redirect.js
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,md,json,yml,yaml}
