Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.js':
  - eslint --fix
  - git add

'*.{js,md,json,yml,yaml}':
  - prettier --write
  - git add

shorten url limits
  models/link.test.js
Due: eslint --fix, prettier --write

jest doesn't do soft comparison
  models/link.test.js
Due: eslint --fix, prettier --write

added redirect tests
  TODO.md
  models/link.js
  models/link.test.js
  public/_test/.gitkeep
  routes/redirect.test.js
Due: eslint --fix, prettier --write

trim dependencies
  package.json
  yarn.lock
Due: prettier --write

v0.5.3
  package.json
Due: prettier --write

procfile not needed
  Procfile
  app.json
Due: prettier --write

nodejs buildpack
  app.json
Due: prettier --write

add redirect to the end for performance
  package.json
  routes/index.js
Due: eslint --fix, prettier --write

automatically generate json schema
  config/routes.js
  config/schema.json
  package.json
  scripts/generate-schema.js
  yarn.lock
Due: eslint --fix, prettier --write

additional build step
  TODO.md
  lib/mongoose.js
  models/link.js
  models/user.js
  package.json
Due: eslint --fix, prettier --write

automatically add built files?
  TODO.md
  config/schema.json
  package.json
  pages/.gitkeep
  pages/index.js
  pages/login.js
  scripts/generate-schema.js
Due: eslint --fix, prettier --write

centralized config loading
  TODO.md
  app.js
  config/index.js
  jest.config.js
Due: eslint --fix, prettier --write

merge changes
  package.json
  scripts/generate-schema.js
Due: eslint --fix, prettier --write

ignore next output
  .eslintignore
  .prettierignore
Due: none

move issues to trello (for better vscode integration
  README.md
  TODO.md
Due: prettier --write

update slow badges
  README.md
Due: prettier --write

I mixed up the badges
  README.md
Due: prettier --write

hopefully this lessens the need for forceexit
  app.js
  lib/mongoose.js
Due: eslint --fix, prettier --write

generate schema using lint-staged
  .lintstagedrc.yml
  README.md
  package.json
  scripts/generate-schema.js
Due: eslint --fix, prettier --write

remove redundant build commands
  package.json
Due: prettier --write

schema generation must come first
  .lintstagedrc.yml
  scripts/generate-schema.js
Due: eslint --fix, prettier --write

update schema
  config/schema.json
  scripts/generate-schema.js
Due: eslint --fix, prettier --write

changing routes, WIP
  routes/api/links.js
  routes/api/users.js
  routes/app/index.js
  routes/index.js
Due: eslint --fix, prettier --write

middlewares update
  .env.defaults
  app.js
  app.json
  lib/logger.js
  middlewares/access-logger.js
  middlewares/error-handler.js
  middlewares/express-logger.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

force quit jest
  package.json
Due: prettier --write

v0.5.4
  package.json
Due: prettier --write

clean deps
  package.json
  yarn.lock
Due: prettier --write

no more nextjs
  components/.gitkeep
  pages/.gitkeep
Due: none

Update nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

Delete nodejs.yml
  .github/workflows/nodejs.yml
Due: prettier --write

integrate next back in
  .env.defaults
  .eslintignore
  .eslintrc.yml
  .gitignore
  .prettierignore
  components/nav.js
  config/routes.js
  config/schema.json
  models/link.js
  models/link.test.js
  package.json
  pages/index.js
  public/_test/.gitkeep
  public/favicon.png
  public/robots.txt
  routes/redirect.js
  static/favicon.ico
  static/robots.txt
  yarn.lock
Due: eslint --fix, prettier --write

fix tests
  models/link.test.js
  routes/redirect.test.js
Due: eslint --fix, prettier --write

v0.6.0
  package.json
Due: prettier --write

linting schnit
  .eslintrc.yml
  .huskyrc.yml
  .lintstagedrc.yml
  config/schema.json
  package.json
  scripts/generate-schema.js
Due: eslint --fix, prettier --write

lint pre-push to catch more errors
  .huskyrc.yml
Due: prettier --write

static no longer needed since we're going with an SPA dashboard
  app.js
Due: eslint --fix, prettier --write

build the frontend with netlify instead of docs
  netlify.toml
Due: none

deploy docs separately
  .circleci/config.yml
  README.md
  netlify.toml
  package.json
  yarn.lock
Due: prettier --write

myurl is taken
  package.json
Due: prettier --write

myurl is taken 2
  README.md
Due: prettier --write
