Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.js':
  - eslint --fix
  - prettier --write

'*.{md,json,yml,yaml,css,html,toml}':
  - prettier --write

expose OIDC timeout
  .env
  middlewares/passport.js
Due: eslint --fix, prettier --write

set name for CRA
  package.json
Due: prettier --write

inject NODE_ENV=development
  nodemon.json
Due: prettier --write

set timeout
  docker-compose.dev.yml
Due: prettier --write

private network rename
  docker-compose.yml
Due: prettier --write

move node_env injection to package.json for consistency
  nodemon.json
  package.json
Due: prettier --write

print statements
  scripts/wait-for
Due: none

fix exec exiting early with error 137
  docker-compose.dev.yml
Due: prettier --write

fuck it, closes #569
  Makefile
  docker-compose.dev.yml
Due: prettier --write

fix
  .huskyrc.yml
  package.json
Due: prettier --write

fix
  Makefile
Due: none

halp
  .huskyrc.yml
  Makefile
Due: prettier --write

why
  .huskyrc.yml
  Dockerfile
  docker-compose.dev.yml
  package.json
Due: prettier --write

closes #571
  package-lock.json
  package.json
  scripts/wait-for
Due: prettier --write

closes #520
  Dockerfile
  Makefile
Due: none

fix hook
  .huskyrc.yml
Due: prettier --write

only run publish on master
  .circleci/config.yml
Due: prettier --write

Docker-compose based approach to #520 (#570)
  .circleci/config.yml
  .env
  .huskyrc.yml
  Makefile
  docker-compose.dev.yml
  docker-compose.yml
  middlewares/passport.js
  package-lock.json
  package.json
  scripts/wait-for
Due: eslint --fix, prettier --write

closes #551
  .dockerignore
Due: none

update docs and specify alg
  middlewares/passport.js
  website/docs/2. Installation/2.1 Prerequisites.md
Due: eslint --fix, prettier --write

Update .env
  .env
Due: none

require OIDC client secret since Blink is a confidential application
  .env
  middlewares/passport.js
  website/docs/2. Installation/2.1 Prerequisites.md
Due: eslint --fix, prettier --write

deps
  package-lock.json
  package.json
Due: prettier --write

Update keycloak.json
  config/keycloak.json
Due: prettier --write

BLINK-263 WIP
  .env
  middlewares/error-handler.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

move around config
  .env
  .env.development
Due: none

user and jwt based auth coexist
  app.js
  middlewares/jwt-auth.js
  middlewares/session.js
Due: eslint --fix, prettier --write

long and short rate limits
  .env
  app.js
  middlewares/rate-limiter.js
  routes/index.js
Due: eslint --fix, prettier --write

tune short & long
  .env
  migrations/20210928045644_api-users.js
Due: eslint --fix, prettier --write

clean
  migrations/20210928045644_api-users.js
Due: eslint --fix, prettier --write

refactor
  config/constants.js
  middlewares/jwt-auth.js
  middlewares/rate-limiter.js
  middlewares/session.js
Due: eslint --fix, prettier --write

test
  .env.test
Due: none

docs
  website/docs/3. Server Administration/3.1 Configuration.md
Due: prettier --write

separate db container for test
  .env.test
  docker-compose.dev.yml
Due: prettier --write

dont run seed for test
  package.json
Due: prettier --write

WIP remove seeds from tests
  __mocks__/@passport-next/passport.js
  models/link.test.js
  routes/api/links.test.js
  routes/api/users.test.js
  routes/redirect.test.js
  seeds/20210312221709_users.js
  seeds/20210312221718_links.js
Due: eslint --fix, prettier --write

fix env
  .env.test
Due: none

fix tracing
  __utils__/dev-test-setup.js
Due: eslint --fix, prettier --write

public routing
  docker-compose.yml
Due: prettier --write

fix ALL the tests!!!
  app.js
  middlewares/jwt-auth.js
  migrations/20210224223402_create-users.js
  models/link.test.js
  routes/api/links.test.js
  routes/api/users.test.js
  routes/redirect.test.js
Due: eslint --fix, prettier --write
