Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.js':
  - eslint --fix
  - prettier --write

'*.{md,json,yml,yaml,css,html,toml}':
  - prettier --write

closes #455
  public/index.html
Due: prettier --write

closes Add ACL to delete button #462
  src/resources/link.js
  src/resources/user.js
Due: eslint --fix, prettier --write

link back to readme
  website/docs/1. Introduction/1.1 About.md
Due: prettier --write

remove delete for users
  src/resources/user.js
Due: eslint --fix, prettier --write

Update app.json
  app.json
Due: prettier --write

Update .env
  .env
Due: none

fix
  config/schema/link.yaml
Due: prettier --write

WIP convert to react-final-form to maintain parity w/ react-admin and for more composability
  src/components/shortener.js
Due: eslint --fix, prettier --write

make creatorId mandatory for seeding purposes
  seeds/20210312221718_links.js
Due: eslint --fix, prettier --write

include all docker-compose
  Makefile
Due: none

fix validator for v8
  src/providers/validator.js
Due: eslint --fix, prettier --write

fix shortener component
  src/components/shortener.js
Due: eslint --fix, prettier --write

dx
  nodemon.json
  package.json
Due: prettier --write

dx + 2
  .circleci/config.yml
Due: prettier --write

make policy act like browser only when testing CRA
  policies/index.js
Due: eslint --fix, prettier --write

FINALLY fix all tests!!!!
  src/components/shortener.js
  src/components/shortener.test.js
Due: eslint --fix, prettier --write

work dammit
  .huskyrc.yml
Due: prettier --write

push ndoe_env during build
  .huskyrc.yml
  Makefile
Due: prettier --write

fasdfjakl
  Dockerfile
Due: none

remove console.log
  src/components/shortener.js
Due: eslint --fix, prettier --write

correctly pass NODE_ENV to docker
  .huskyrc.yml
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
Due: prettier --write

docs done!
  website/docs/1. Introduction/1.2 Goals & Comparison.md
  website/docs/2. Installation/2.1 Prerequisites.md
  website/docs/2. Installation/2.3 Advanced.md
  website/docs/3. Server Administration/3.1 Configuration.md
  website/docs/3. Server Administration/3.2 Access Control.md
Due: prettier --write

consistent field names
  src/components/shortener.js
Due: eslint --fix, prettier --write

closes #529
  website/docs/2. Installation/2.3 Advanced.md
Due: prettier --write

closes #530
  website/docs/1. Introduction/1.4 FAQs.md
  website/docs/2. Installation/2.3 Advanced.md
Due: prettier --write

search
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Due: eslint --fix, prettier --write

install plus
  package-lock.json
  package.json
Due: prettier --write

merge
  package-lock.json
Due: prettier --write

try to handle got ESM imports
  .circleci/config.yml
  lib/scrape.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

update deps
  package-lock.json
  package.json
Due: prettier --write

update config
  .circleci/config.yml
Due: prettier --write

closes #519
  README.md
  config/keycloak.json
Due: prettier --write

update oa
  package-lock.json
  package.json
Due: prettier --write

test
  config/schema/link.yaml
  config/schema/user.yaml
Due: prettier --write

reference json schema across files
  config/schema/link.yaml
  models/base.js
  scripts/compile-schema
Due: eslint --fix, prettier --write

fix refs not working in seeds
  seeds/20210312221718_links.js
Due: eslint --fix, prettier --write

WIP
  Makefile
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

fix timeouts
  docker-compose.dev.yml
  scripts/wait-for
Due: prettier --write

volume ain't it
  Makefile
  docker-compose.yml
  scripts/wait-for
Due: prettier --write
