Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

remove all tracing until I'm sure how to support generic oTel format
  config/index.js
  package-lock.json
Due: eslint --fix, prettier --write

deps [skip ci]
  package-lock.json
Due: prettier --write

remove ver
  package.json
Due: prettier --write

remove network correctly
  Makefile
Due: none

update to docusaurus 2 beta
  website/docs/2. Installation/2.1 Prerequisites.md
  website/package-lock.json
  website/package.json
  website/sidebars.js
Due: eslint --fix, prettier --write

clean make
  Makefile
Due: none

tini
  Dockerfile
Due: none

ignore history for sh
  .gitignore
Due: none

Update Dockerfile
  Dockerfile
Due: none

pnpm
  .circleci/config.yml
  .huskyrc.yml
  Dockerfile
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write

scripts to accommodate schema gen
  .eslintrc.yml
  .gitignore
  package.json
  website/docs/2. Installation/2.2 Shortcut.md
Due: prettier --write

automatic schema gen for frontend and backend
  README.md
  config/schema.json
  config/schema/files.js
  config/schema/link.yaml
  config/schema/user.yaml
  config/schema/validators.js
  middlewares/security.js
  models/base.js
  scripts/compile-schema
  src/providers/validator.js
  src/schema
  src/schema.json
Due: eslint --fix, prettier --write

docker compose
  Makefile
Due: none

fix seeds
  seeds/20210312221709_users.js
Due: eslint --fix, prettier --write

fix routes
  routes/redirect.js
Due: eslint --fix, prettier --write

ignore
  .dockerignore
  .gitignore
Due: none

pnpm instructions
  README.md
Due: prettier --write

react-redux
  package.json
  pnpm-lock.yaml
Due: prettier --write

rebuild
  .huskyrc.yml
Due: prettier --write

deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fuck this
  Dockerfile
  package.json
Due: prettier --write

deterministic installs
  .circleci/config.yml
  Dockerfile
  pnpm-lock.yaml
Due: prettier --write

back to npm
  .circleci/config.yml
  .huskyrc.yml
  Dockerfile
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

???
  .huskyrc.yml
Due: prettier --write

correct hooks
  .huskyrc.yml
  Dockerfile
  docker-compose.dev.yml
Due: prettier --write

fix schema
  src/resources/user.js
  src/utils/get-json-path.js
Due: eslint --fix, prettier --write

experimental docker push
  .circleci/config.yml
Due: prettier --write

fix
  .circleci/config.yml
Due: prettier --write

machine
  .circleci/config.yml
Due: prettier --write

flow
  .circleci/config.yml
Due: prettier --write

feed vars
  .circleci/config.yml
Due: prettier --write

i'm an idiot
  package.json
Due: prettier --write

repo name
  .circleci/config.yml
Due: prettier --write

?
  .circleci/config.yml
Due: prettier --write

ignore ALL THE THINGS
  .dockerignore
Due: none

add screenshots [skip ci]
  website/docs/1. Introduction/1.1 About.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/css/custom.css
  website/static/img/links.png
  website/static/img/short.png
  website/static/img/users.png
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

deprecation
  src/App.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{md,json,yml,yaml,css,html,toml})
