Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fucking favicon
  routes/redirect.js
Due: eslint --fix, prettier --write

make shortener look pretty
  src/components/shortener.js
Due: eslint --fix, prettier --write

additional logout
  routes/auth/index.js
Due: eslint --fix, prettier --write

rename to blink
  README.md
  app.json
  docs/.vuepress/config.js
  docs/README.md
  docs/TODO.md
  docs/keycloak.md
  package-lock.json
  package.json
  public/index.html
Due: eslint --fix, prettier --write

rename
  src/App.js
Due: eslint --fix, prettier --write

css
  src/App.css
  src/components/shortener.js
  src/resources/link.js
Due: eslint --fix, prettier --write

improve dark mode colour
  src/App.js
Due: eslint --fix, prettier --write

codeql
  .github/workflows/codeql-analysis.yml
Due: prettier --write

remove swr
  package-lock.json
  package.json
Due: prettier --write

rate limit
  .env
  middlewares/rate-limiter.js
  package-lock.json
  package.json
  routes/auth/index.js
  routes/index.js
Due: eslint --fix, prettier --write

readme update [skip ci]
  README.md
Due: prettier --write

version bump
  package.json
Due: prettier --write

errorhandler ignore 404
  middlewares/error-handler.js
Due: eslint --fix, prettier --write

just fail fast
  middlewares/rate-limiter.js
Due: eslint --fix, prettier --write

add timestamp to user
  migrations/20210224223402_create-users.js
Due: eslint --fix, prettier --write

simple user
  src/App.js
  src/resources/user.js
Due: eslint --fix, prettier --write

update instructions [skip ci]
  README.md
Due: prettier --write

fix the fucking error stack
  lib/logger.js
  middlewares/error-handler.js
  middlewares/passport.js
  routes/auth/index.js
Due: eslint --fix, prettier --write

add more static analysis because why not
  .github/workflows/ossar-analysis.yml
Due: prettier --write

avatar field
  src/components/avatar-field.js
Due: eslint --fix, prettier --write

default trace
  .env.development
  lib/logger.js
Due: eslint --fix, prettier --write

remove pgadmin, just use psql
  docker-compose.override.yml
Due: prettier --write

include id in schema
  config/schema.json
  seeds/20210312221718_links.js
Due: eslint --fix, prettier --write

add schema detail about the id as well
  config/schema.json
Due: prettier --write

put request logger right before routes so the full req detail shows up
  app.js
Due: eslint --fix, prettier --write

more OIDC config
  .env
  config/keycloak.json
  middlewares/passport.js
Due: eslint --fix, prettier --write

prevent req.body from being changed
  models/link.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

increase rate limit because react-admin sends too many
  .env
Due: none

try not to log 401/404
  middlewares/error-handler.js
Due: eslint --fix, prettier --write

fix policy
  policies/link.js
Due: eslint --fix, prettier --write

stop id from being type coerced
  config/schema.json
  models/base.js
Due: eslint --fix, prettier --write

prevent redirect on 403
  src/providers/auth.js
Due: eslint --fix, prettier --write

preserve id till the end
  routes/api/links.js
Due: eslint --fix, prettier --write

link edit working!!!
  package-lock.json
  package.json
  src/App.js
  src/resources/link.js
  src/resources/user.js
Due: eslint --fix, prettier --write

fix mock
  __mocks__/openid-client.js
Due: eslint --fix, prettier --write

fix tests
  config/schema.json
  routes/api/links.test.js
Due: eslint --fix, prettier --write

clear console on rebuild
  nodemon.json
Due: prettier --write

basic user edit view
  src/resources/link.js
  src/resources/user.js
Due: eslint --fix, prettier --write

*wink wink*
  package.json
Due: prettier --write

timestamp update
  config/schema.json
  models/base.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{md,json,yml,yaml,css,html,toml})
