Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.js':
  - eslint --fix
  - prettier --write

'*.{md,json,yml,yaml,css,html,toml}':
  - prettier --write

fix deps
  package-lock.json
Due: prettier --write

hadolint
  .dockerignore
  .hadolint.yml
Due: prettier --write

fix docker
  Dockerfile
Due: none

add healthcheck
  Dockerfile
  routes/index.js
Due: eslint --fix, prettier --write

traefik setup WIP
  .gitignore
  Makefile
  config/traefik/traefik.dynamic.yml
  config/traefik/traefik.yml
  docker-compose.override.yml
  docker-compose.yml
Due: prettier --write

fix certs
  Makefile
  docker-compose.override.yml
Due: prettier --write

idk who is writing to this dir but either way pls stop
  .dockerignore
  .gitignore
Due: none

fix image
  Dockerfile
Due: none

dependabot [skip ci]
  .github/dependabot.yml
Due: prettier --write

no need for tini since we're handling sigterm
  bin/www
Due: none

scripts
  scripts/promote-user
  scripts/wait-for
Due: none

scripts, part 2
  .eslintrc.yml
Due: prettier --write

compose routing
  docker-compose.override.yml
  docker-compose.yml
Due: prettier --write

dockerfile fix
  Dockerfile
Due: none

faster dockerfile
  Dockerfile
Due: none

ensure circleci tests will continue to run
  .circleci/config.yml
Due: prettier --write

fix keycloak image issue
  docker-compose.yml
Due: prettier --write

FINALLY wait for keycloak
  Dockerfile
Due: none

cleanup makefile
  Makefile
Due: none

compose overhaul
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

makefile refactoring
  Makefile
Due: none

move dev to non-alpine
  Dockerfile
Due: none

update locations for docker
  .env
  .env.auth0
Due: none

makefile fix
  Makefile
Due: none

FINALLY WORKS END TO END WITH DOCKER COMPOSE
  .env
  config/keycloak.json
Due: prettier --write

use preferred_username
  middlewares/passport.js
Due: eslint --fix, prettier --write

fallback
  middlewares/passport.js
Due: eslint --fix, prettier --write

nodemon DX
  nodemon.json
Due: prettier --write

back to alpine
  Dockerfile
Due: none

separate run / exec
  Makefile
Due: none

instructions for dockerized workflow
  README.md
Due: prettier --write

cleanup containers after running
  Makefile
Due: none

move huskyrc out & adapt make test
  .huskyrc.yml
  package.json
Due: prettier --write

oops
  Makefile
Due: none

force exit by default
  .circleci/config.yml
  package.json
Due: prettier --write

instructions for internal net
  website/README.md
  website/docs/2. Installation/2.1 Prerequisites.md
Due: prettier --write

warning about CDN caching redirects [skip ci]
  website/docs/2. Installation/2.2 Shortcut.md
Due: prettier --write

update deps for security
  package-lock.json
  package.json
Due: prettier --write

fix normalize-url to a cjs version
  package-lock.json
  package.json
Due: prettier --write

fucking shit
  package-lock.json
  package.json
Due: prettier --write
