Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.js':
  - eslint --fix
  - prettier --write

'*.{md,json,yml,yaml,css,html,toml}':
  - prettier --write

cleanup
  migrations/20210224223402_create-users.js
Due: eslint --fix, prettier --write

yeet
  package.json
Due: prettier --write

passport is mocked out during test
  .env.test
Due: none

map api to user
  config/constants.js
  middlewares/jwt-auth.js
  migrations/20211007051047_api-users.js
Due: eslint --fix, prettier --write

closes #595
  lib/scrape.js
Due: eslint --fix, prettier --write

closes #594
  app.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

update test
  .circleci/config.yml
Due: prettier --write

plase fucking work
  lib/scrape.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

scope verifier
  lib/scope.js
  lib/scope.test.js
Due: eslint --fix, prettier --write

scope test
  lib/scope.test.js
Due: eslint --fix, prettier --write

set default API user
  .env
  middlewares/jwt-auth.js
Due: eslint --fix, prettier --write

issuer
  middlewares/jwt-auth.js
Due: eslint --fix, prettier --write

add limiters for API clients
  policies/link.js
  policies/user.js
  policies/user.test.js
Due: eslint --fix, prettier --write

move API authZ out of ACL and into middleware
  middlewares/jwt-auth.js
  policies/link.js
  policies/user.js
  policies/user.test.js
  routes/api/links.js
  routes/api/users.js
Due: eslint --fix, prettier --write

restructured middlewares to run sess/jwt auth mechanisms as either/or
  app.js
  middlewares/jwt-auth.js
  middlewares/passport.js
  middlewares/session.js
  routes/auth/index.js
Due: eslint --fix, prettier --write

DELETE should be idempotent
  routes/api/links.js
Due: eslint --fix, prettier --write

test helper for JWT-based API auth
  .env.test
  __utils__/bearer-header-gen.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

add tests for API usage
  routes/api/links.test.js
  routes/api/users.test.js
Due: eslint --fix, prettier --write

closes #573 (for now)
  .circleci/config.yml
Due: prettier --write

filters are OR'd by circleci, fucking bullshit
  .circleci/config.yml
Due: prettier --write

Update config.yml
  .circleci/config.yml
Due: prettier --write

docs and recommendations for OAuth2
  website/docs/2. Installation/2.1 Prerequisites.md
  website/docs/3. Server Administration/3.3 API Integration.md
  website/package.json
Due: prettier --write

OAuth2 API integration/consumer support (#592)
  .env
  .env.development
  .env.test
  __mocks__/@passport-next/passport.js
  __utils__/bearer-header-gen.js
  __utils__/dev-test-setup.js
  app.js
  config/constants.js
  docker-compose.dev.yml
  docker-compose.yml
  lib/scope.js
  lib/scope.test.js
  middlewares/error-handler.js
  middlewares/jwt-auth.js
  middlewares/passport.js
  middlewares/rate-limiter.js
  middlewares/session.js
  migrations/20210224223402_create-users.js
  migrations/20211007051047_api-users.js
  models/link.test.js
  package-lock.json
  package.json
  routes/api/links.js
  routes/api/links.test.js
  routes/api/users.js
  routes/api/users.test.js
  routes/auth/index.js
  routes/index.js
  routes/redirect.test.js
  seeds/20210312221709_users.js
  seeds/20210312221718_links.js
  website/docs/2. Installation/2.1 Prerequisites.md
  website/docs/3. Server Administration/3.1 Configuration.md
  website/docs/3. Server Administration/3.3 API Integration.md
  website/package.json
Due: eslint --fix, prettier --write

skip downloading on pull because it's not reflected in container
  .huskyrc.yml
Due: prettier --write

circleci is fucking retarded
  .circleci/config.yml
Due: prettier --write

update tag
  .circleci/config.yml
Due: prettier --write

fix tag-based release strategy
  .circleci/config.yml
Due: prettier --write

move publish-tag to a separate workflow
  .circleci/config.yml
Due: prettier --write

replace all Object/JSON operations with lodash for security
  __utils__/policy-tester.js
  models/base.js
  models/link.js
  policies/index.js
  routes/api/links.js
  routes/api/users.test.js
  seeds/20210312221709_users.js
  seeds/20210312221718_links.js
  src/providers/auth.js
Due: eslint --fix, prettier --write

update patch/minor deps
  package-lock.json
  package.json
Due: prettier --write

closes #603
  app.json
  knexfile.js
Due: eslint --fix, prettier --write

update issues list [skip ci]
  README.md
Due: prettier --write

oops [skip ci]
  .circleci/config.yml
Due: prettier --write

fuck you npm [skip ci]
  .npmrc
Due: none

instructions for releasing [skip ci]
  README.md
Due: prettier --write

add docker image tag instructions [skip ci]
  website/docs/2. Installation/2.3 Advanced.md
Due: prettier --write

migrate to objection-based timestamps
  config/schema/link.yaml
  config/schema/user.yaml
  migrations/20191012232353_create-links.js
  migrations/20210224223402_create-users.js
  migrations/20210408184258_update-timestamps.js
  migrations/20211007051047_api-users.js
  models/base.js
  package-lock.json
  package.json
  routes/api/links.test.js
  routes/api/users.test.js
Due: eslint --fix, prettier --write

due to forceExit watch mode does not work
  package.json
Due: prettier --write

stuf
  package-lock.json
Due: prettier --write

closes #605
  lib/logger.js
  middlewares/error-handler.js
  package-lock.json
  package.json
  routes/auth/index.js
  seeds/20210312221709_users.js
Due: eslint --fix, prettier --write
