Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

amend makefile
  Makefile
Due: none

debug information
  .circleci/config.yml
  scripts/get-tags.sh
Due: prettier --write

fix release
  .circleci/config.yml
  scripts/get-tags.sh
Due: prettier --write

actually interpolate variables
  .circleci/config.yml
Due: prettier --write

only send circleci notifications on master
  .circleci/config.yml
Due: prettier --write

Update dependency concurrently to v7
  package-lock.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update dependency knex to v1
  package-lock.json
  package.json
Due: prettier --write

Update dependency rate-limit-redis to v3
  package.json
Due: prettier --write

fix security issues
  package-lock.json
  website/package-lock.json
Due: prettier --write

new release method [skip ci]
  README.md
Due: prettier --write

Update docusaurus monorepo to v2.0.0-beta.15
  website/package-lock.json
  website/package.json
Due: prettier --write

Update actions/checkout action to v3
  .github/workflows/codeql-analysis.yml
  .github/workflows/ossar-analysis.yml
Due: prettier --write

sbin is part of the PATH
  Dockerfile
Due: none

Update dependency ioredis to v5
  package-lock.json
  package.json
Due: prettier --write

Update dependency cimg/postgres to v14.2
  .circleci/config.yml
Due: prettier --write

Update dependency @testing-library/react to v13
  package.json
Due: prettier --write

proxy IP handling
  .env
  app.js
  website/docs/3. Server Administration/3.1 Configuration.md
Due: eslint --fix, prettier --write

DX improvements [skip ci]
  .npmrc
  .nvmrc
Due: none

Update dependency express-jwt to v7
  package-lock.json
  package.json
Due: prettier --write

update major backend dependencies
  middlewares/rate-limiter.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix express-jwt usage
  middlewares/jwt-auth.js
Due: eslint --fix, prettier --write

fix rate-limit-redis usage
  middlewares/rate-limiter.js
Due: eslint --fix, prettier --write

fix vulnerable version of async
  website/package-lock.json
Due: prettier --write

Update github/codeql-action action to v2
  .github/workflows/codeql-analysis.yml
  .github/workflows/ossar-analysis.yml
Due: prettier --write

dockerfile syntax
  Dockerfile
Due: none

Update dependency redis to v7
  docker-compose.dev.yml
  docker-compose.yml
Due: prettier --write

Update dependency @hapi/bourne to v3
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{md,json,yml,yaml,css,html,toml})
