Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

revamp routes, closes #46
  routes/api/links.js
  routes/api/users.js
  routes/redirect.js
Due: eslint --fix, prettier --write

basic acl support (WIP)
  bin/www
  config/acl.yml
  lib/acl.js
Due: eslint --fix, prettier --write

throw out multi-team concept... for now
  .env.defaults
  lib/passport.js
  migrations/20191017230534_create-teams.js
  migrations/20191018192251_create-associations.js
  models/team.js
  models/user.js
  routes/api/users.js
Due: eslint --fix, prettier --write

more comprehensive ACL
  config/acl.yml
  config/schema.yml
  package.json
  yarn.lock
Due: prettier --write

prep for audit log WIP
  config/acl.yml
  migrations/20191012232353_create-links.js
Due: eslint --fix, prettier --write

get link meta info
  config/schema.yml
  lib/scrape.js
  migrations/20191012232353_create-links.js
  models/link.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

first user is owner
  lib/passport.js
Due: eslint --fix, prettier --write

screw camelcasing hash. everything is case-sensitive, 'cause this is meant for teams
  config/schema.yml
  models/link.js
Due: eslint --fix, prettier --write

add soft delete feature for users, allowing them to be 'deleted'
  config/acl.yml
  lib/passport.js
  migrations/20191012232140_create-users.js
  models/user.js
  package.json
  routes/api/links.js
  routes/api/users.js
  yarn.lock
Due: eslint --fix, prettier --write

require confirmation to delete a user
  config/acl.yml
Due: prettier --write

better variable naming to clarify you're the owner when no one else exists
  lib/passport.js
Due: eslint --fix, prettier --write

update ACL to support soft-delete restoration
  config/acl.yml
  routes/api/users.js
Due: eslint --fix, prettier --write

static directory has been deprecated - nextjs
  public/favicon.ico
  public/robots.txt
Due: none

separate frontend URL
  .env.defaults
  app.js
  netlify.toml
  routes/auth/index.js
Due: eslint --fix, prettier --write

build frontend only in CI
  package.json
Due: prettier --write

allow users to specify link meta
  config/acl.yml
  config/schema.yml
Due: prettier --write

passport is more of a config
  config/passport.js
Due: eslint --fix, prettier --write

use axios instead of got to timeout on invalid URLs
  lib/scrape.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix publisher typo
  config/schema.yml
Due: prettier --write

version API
  routes/api/index.js
  routes/api/v1/index.js
  routes/api/v1/links.js
  routes/api/v1/links.test.js
  routes/api/v1/users.js
  routes/api/v1/users.test.js
Due: eslint --fix, prettier --write

add lib tests
  lib/logger.js
  lib/redis.js
  lib/scrape.test.js
  lib/slack.js
  lib/slack.test.js
  lib/token.js
  lib/token.test.js
Due: eslint --fix, prettier --write

update test instructions
  jest.config.js
  package.json
Due: eslint --fix, prettier --write

admins can only promote a user to admin status
  config/acl.yml
  routes/api/v1/users.js
Due: eslint --fix, prettier --write

add field limits
  config/schema.yml
Due: prettier --write

allow filter by deleted
  app.js
  models/user.js
  models/user.test.js
  package.json
  routes/api/v1/users.js
  yarn.lock
Due: eslint --fix, prettier --write

use model tablenames as source of truth
  migrations/20191012232140_create-users.js
  migrations/20191012232353_create-links.js
Due: eslint --fix, prettier --write

test coverage update
  next.config.js
  package.json
Due: eslint --fix, prettier --write

migrate to objection-based error handler
  middlewares/error-handler.js
Due: eslint --fix, prettier --write

pass link models test
  knexfile.js
  models/link.js
  models/link.test.js
Due: eslint --fix, prettier --write

pass redirect route tests
  app.js
  middlewares/access-logger.js
  middlewares/error-handler.js
  models/base.js
  package.json
  routes/api/v1/index.js
  routes/auth/index.js
  routes/redirect.test.js
  yarn.lock
Due: eslint --fix, prettier --write

fix starter scripts
  app.json
  package.json
Due: prettier --write

update test descriptions
  lib/scrape.test.js
  lib/slack.test.js
  lib/token.test.js
  models/link.test.js
Due: eslint --fix, prettier --write

add user model tests
  models/link.test.js
  models/user.js
  models/user.test.js
Due: eslint --fix, prettier --write

WIP
  .huskyrc.yml
  config/acl.test.js
  config/acl.yml
  models/link.js
  policies/index.js
  policies/link.js
  policies/user.js
  routes/api/v1/links.test.js
  routes/api/v1/users.js
  routes/api/v1/users.test.js
Due: eslint --fix, prettier --write

WIP
  .circleci/config.yml
  .env.defaults
  .eslintignore
  app.js
  bin/deploy
  bin/www
  models/base.js
  models/link.js
  package.json
  policies/index.js
  policies/link.js
  policies/link.test.js
  policies/user.js
  policies/user.test.js
  routes/api/index.js
  routes/api/links.js
  routes/api/links.test.js
  routes/api/users.js
  routes/api/users.test.js
  routes/api/v1/index.js
  routes/app/index.js
  routes/index.js
  test-utils/tester.js
  yarn.lock
Due: eslint --fix, prettier --write

add casl policies
  config/acl.test.js
  config/acl.yml
  policies/link.test.js
  policies/user.js
  policies/user.test.js
  test-utils/policy-tester.js
Due: eslint --fix, prettier --write

cleanup
  .env.defaults
  app.json
  config/passport.js
  knexfile.js
  lib/acl.js
  models/user.js
  netlify.toml
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

more cleanup
  .env.defaults
  .eslintignore
  .eslintrc.yml
  README.md
  lib/logger.js
  middlewares/ensure-login.js
  middlewares/error-handler.js
  package.json
  policies/__utils__/policy-tester.js
  policies/link.test.js
  policies/user.test.js
  routes/api/links.js
  routes/api/links.test.js
  routes/api/users.test.js
  routes/app/index.js
  routes/auth/index.js
  routes/redirect.js
  website/yarn.lock
  yarn.lock
Due: eslint --fix, prettier --write

back to cookie sessions for simplicity; ditched remember me cookies
  .env.defaults
  .pino-prettyrc
  .prettierrc.yml
  app.js
  app.json
  config/passport.js
  lib/redis.js
  lib/token.js
  lib/token.test.js
  middlewares/session.js
  models/base.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix startup errors
  .env.defaults
  .huskyrc.yml
  README.md
  app.js
  lib/logger.js
  lib/next.js
  lib/scrape.js
  lib/scrape.test.js
  middlewares/access-logger.js
  middlewares/ensure-login.js
  package.json
  routes/api/links.test.js
  routes/app/index.js
  scripts/seed-make.sh
  seeds/20200114213656-links.js
  seeds/20200114213705-users.js
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{md,json,yml,yaml,css,html})
