Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update deps
  package-lock.json
Due: prettier --write

fuck husky@6
  .huskyrc.yml
  package-lock.json
  package.json
Due: prettier --write

please fucking work
  app.js
  middlewares/security.js
Due: eslint --fix, prettier --write

npm ci deletes node_modules anyway
  .circleci/config.yml
Due: prettier --write

add debug information
  middlewares/passport.js
Due: eslint --fix, prettier --write

please work please work please work
  .env
  .env.auth0
  middlewares/passport.js
Due: eslint --fix, prettier --write

include profile scopes
  middlewares/passport.js
Due: eslint --fix, prettier --write

filter out some unneeded user params
  lib/logger.js
Due: eslint --fix, prettier --write

set content-type headers
  src/components/shortener.js
Due: eslint --fix, prettier --write

newrelic integration
  .env
  config/index.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

show actual error message
  src/providers/auth.js
Due: eslint --fix, prettier --write

cleanup + fix shortened link not showing up
  src/components/shortener.js
Due: eslint --fix, prettier --write

fix shortener and add tests
  middlewares/error-handler.js
  package-lock.json
  package.json
  src/App.test.js
  src/components/shortener.js
  src/components/shortener.test.js
  src/setupTests.js
Due: eslint --fix, prettier --write

callout on shortening link
  src/components/shortener.js
Due: eslint --fix, prettier --write

callout on shortening link
  src/components/shortener.test.js
Due: eslint --fix, prettier --write

cleanup readme [skip ci]
  README.md
Due: prettier --write

allow compiling ajv schema
  README.md
  middlewares/security.js
Due: eslint --fix, prettier --write

allow promoting self [skip ci]
  README.md
  scripts/promote-user.js
Due: eslint --fix, prettier --write

fix args
  scripts/promote-user.js
Due: eslint --fix, prettier --write

reduce maxage for dev [skip ci]
  .env.development
Due: none

skip david [skip ci]
  README.md
Due: prettier --write

docs init
  .eslintrc.yml
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/blog/2019-05-28-hola.md
  docs/blog/2019-05-29-hello-world.md
  docs/blog/2019-05-30-welcome.md
  docs/docs/create-a-blog-post.md
  docs/docs/create-a-document.md
  docs/docs/create-a-page.md
  docs/docs/getting-started.md
  docs/docs/markdown-features.mdx
  docs/docs/thank-you.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/src/pages/markdown-page.md
  docs/src/pages/styles.module.css
  docs/static/.nojekyll
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
Due: eslint --fix, prettier --write

remove docs from lint
  .eslintrc.yml
Due: prettier --write

remove blog
  docs/blog/2019-05-28-hola.md
  docs/blog/2019-05-29-hello-world.md
  docs/blog/2019-05-30-welcome.md
  docs/docs/create-a-blog-post.md
  docs/docs/markdown-features.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
Due: eslint --fix, prettier --write

auto docs structure
  docs/docs/1. Introduction/1.1 About.md
  docs/docs/1. Introduction/1.2 Comparison.md
  docs/docs/1. Introduction/1.3 Architecture.md
  docs/docs/2. Installation/2.1 Prerequisites.md
  docs/docs/2. Installation/2.2 Simple Installation.md
  docs/docs/2. Installation/2.2 Test/2.2.1 Hello.md
  docs/docs/2. Installation/2.3 CDN.md
  docs/docs/2. Installation/2.4 Analytics.md
  docs/docs/create-a-document.md
  docs/docs/create-a-page.md
  docs/docs/getting-started.md
  docs/docs/thank-you.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/pages/index.js
Due: eslint --fix, prettier --write

docs WIP
  README.md
  docs/docs/1. Introduction/1.1 About.md
  docs/docs/1. Introduction/1.2 Goals & Comparison.md
  docs/docs/1. Introduction/1.3 Architecture.md
  docs/docs/2. Installation/2.2 Simple Installation.md
  docs/docs/3. Advanced Configuration/3.1 Storing Access Logs.md
  docs/docs/3. Advanced Configuration/3.2 Analyzing Access Logs.md
  docs/docs/3. Advanced Configuration/3.3 Integrating Analytics into Dashboard.md
  docs/docs/3. Advanced Configuration/3.4 Syncing User Directory.md
  docs/docs/3. Advanced Configuration/3.5 Multi-Tenancy.md
Due: prettier --write

fix broken links
  docs/docusaurus.config.js
Due: eslint --fix, prettier --write

update domain [skip ci]
  README.md
  docs/docusaurus.config.js
Due: eslint --fix, prettier --write

add some docs [skip ci]
  docs/docs/1. Introduction/1.2 Goals & Comparison.md
  docs/docs/1. Introduction/1.3 Architecture.md
  docs/docs/2. Installation/2.1 Prerequisites.md
  docs/docs/2. Installation/2.2 Shortcut.md
  docs/docs/2. Installation/2.3 Advanced.md
  docs/docs/2. Installation/2.3 CDN.md
  docs/docs/3. Advanced Configuration/3.1 Storing Access Logs.md
  docs/docs/3. Advanced Configuration/3.2 Analyzing Access Logs.md
  docs/docs/3. Advanced Configuration/3.3 Integrating Analytics into Dashboard.md
  docs/docs/3. Advanced Configuration/3.4 Syncing User Directory.md
  docs/docs/3. Advanced Configuration/3.5 Multi-Tenancy.md
Due: prettier --write

move dir
  website/.gitignore
  website/README.md
  website/babel.config.js
  website/docs/1. Introduction/1.1 About.md
  website/docs/1. Introduction/1.2 Goals & Comparison.md
  website/docs/1. Introduction/1.3 Architecture.md
  website/docs/2. Installation/2.1 Prerequisites.md
  website/docs/2. Installation/2.2 Shortcut.md
  website/docs/2. Installation/2.3 Advanced.md
  website/docs/3. Server Administration/3.1 Configuration.md
  website/docs/3. Server Administration/3.2 Access Control.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/sidebars.js
  website/src/css/custom.css
  website/src/pages/markdown-page.md
  website/src/pages/styles.module.css
  website/static/.nojekyll
  website/static/img/docusaurus.png
  website/static/img/favicon.ico
  website/static/img/logo.svg
  website/static/img/undraw_docusaurus_mountain.svg
  website/static/img/undraw_docusaurus_react.svg
  website/static/img/undraw_docusaurus_tree.svg
Due: eslint --fix, prettier --write

move dir config
  .eslintrc.yml
Due: prettier --write

yeet
  docker-compose.override.yml
Due: prettier --write

remove
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/1. Introduction/1.1 About.md
  docs/docs/1. Introduction/1.2 Goals & Comparison.md
  docs/docs/1. Introduction/1.3 Architecture.md
  docs/docs/2. Installation/2.1 Prerequisites.md
  docs/docs/2. Installation/2.2 Shortcut.md
  docs/docs/2. Installation/2.3 Advanced.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/markdown-page.md
  docs/src/pages/styles.module.css
  docs/static/.nojekyll
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
Due: eslint --fix, prettier --write

update doc deps
  website/package-lock.json
Due: prettier --write

OIDC docs done!
  website/docs/2. Installation/2.1 Prerequisites.md
  website/docs/3. Server Administration/3.1 Configuration.md
Due: prettier --write

add CDN information
  website/docs/2. Installation/2.2 Shortcut.md
Due: prettier --write

RBAC docs
  website/docs/2. Installation/2.3 Advanced.md
  website/docs/3. Server Administration/3.2 Access Control.md
Due: prettier --write

basic docker image
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: prettier --write

share volume
  docker-compose.yml
  nodemon.json
Due: prettier --write

prevent opening browser from within docker
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{md,json,yml,yaml,css,html,toml})
