Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.js':
  - eslint --fix
  - prettier --write

'*.{md,json,yml,yaml,css,html,toml}':
  - prettier --write

compose v2 migration [skip ci]
  Makefile
  compose.dev.yaml
  compose.yaml
Due: prettier --write

set my own API key [skip ci]
  website/package.json
Due: prettier --write

chore: copy multiple files at once to reduce stages
  Dockerfile
Due: none

Update docusaurus monorepo to v2.0.0-beta.20
  website/package-lock.json
  website/package.json
Due: prettier --write

Revert "Update docusaurus monorepo to v2.0.0-beta.20 (#713)"
  website/package-lock.json
  website/package.json
Due: prettier --write

Revert "Update docusaurus monorepo to v2.0.0-beta.20 (#713)" (#735)
  website/package-lock.json
  website/package.json
Due: prettier --write

Update dependency cimg/redis to v7
  .circleci/config.yml
Due: prettier --write

Added new docker-compose and .env for easy deployment
  deploy/docker-compose/.env
  deploy/docker-compose/docker-compose.yml
Due: prettier --write

Updated the README with deployment info
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Removed labels field as it was only used for testing
  deploy/docker-compose/docker-compose.yml
Due: prettier --write

Update docker-compose.yml
  deploy/docker-compose/docker-compose.yml
Due: prettier --write

Added new docker compose deployment method and associated .env, and modified README (#750)
  README.md
  deploy/docker-compose/.env
  deploy/docker-compose/docker-compose.yml
Due: prettier --write

point to docker-compose in docs [skip ci]
  .gitignore
  website/docs/2. Installation/2.2 Shortcut.md
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

update env docs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  app.json
  website/docs/2. Installation/2.3 Advanced.md
Due: prettier --write

fix CSP issue
  middlewares/security.js
Due: eslint --fix, prettier --write

update lockfiles
  package-lock.json
  website/.npmrc
  website/package-lock.json
Due: prettier --write

update browserslist
  package-lock.json
Due: prettier --write

format all
  .lintstagedrc.yml
Due: prettier --write

migrate docusaurus v2
  website-2/blog/2019-05-28-first-blog-post.md
  website-2/blog/2019-05-29-long-blog-post.md
  website-2/blog/2021-08-01-mdx-blog-post.mdx
  website-2/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  website-2/blog/2021-08-26-welcome/index.md
  website-2/blog/authors.yml
  website-2/docs/1. Introduction/1.1 About.md
  website-2/docs/1. Introduction/1.2 Goals & Comparison.md
  website-2/docs/1. Introduction/1.3 Architecture.md
  website-2/docs/1. Introduction/1.4 FAQs.md
  website-2/docs/2. Installation/2.1 Prerequisites.md
  website-2/docs/2. Installation/2.2 Shortcut.md
  website-2/docs/2. Installation/2.3 Advanced.md
  website-2/docs/3. Server Administration/3.1 Configuration.md
  website-2/docs/3. Server Administration/3.2 Access Control.md
  website-2/docs/3. Server Administration/3.3 API Integration.md
  website-2/docs/intro.md
  website-2/docs/tutorial-basics/_category_.json
  website-2/docs/tutorial-basics/congratulations.md
  website-2/docs/tutorial-basics/create-a-blog-post.md
  website-2/docs/tutorial-basics/create-a-document.md
  website-2/docs/tutorial-basics/create-a-page.md
  website-2/docs/tutorial-basics/deploy-your-site.md
  website-2/docs/tutorial-basics/markdown-features.mdx
  website-2/docs/tutorial-extras/_category_.json
  website-2/docs/tutorial-extras/img/docsVersionDropdown.png
  website-2/docs/tutorial-extras/img/localeDropdown.png
  website-2/docs/tutorial-extras/manage-docs-versions.md
  website-2/docs/tutorial-extras/translate-your-site.md
  website-2/docusaurus.config.js
  website-2/src/css/custom.css
  website-2/src/pages/index.module.css
  website-2/src/pages/index.tsx
  website-2/static/img/links.png
  website-2/static/img/short.png
  website-2/static/img/users.png
Due: eslint --fix, prettier --write

Docusaurus v2 (#786)
  .lintstagedrc.yml
  website/.npmrc
  website/README.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/sidebars.js
  website/src/components/HomepageFeatures/index.tsx
  website/src/components/HomepageFeatures/styles.module.css
  website/src/css/custom.css
  website/src/pages/styles.module.css
  website/static/img/docusaurus-social-card.jpg
  website/static/img/undraw_docusaurus_mountain.svg
  website/static/img/undraw_docusaurus_react.svg
  website/static/img/undraw_docusaurus_tree.svg
  website/tsconfig.json
Due: eslint --fix, prettier --write

add algolia docsearch v3
  website/.gitignore
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
Due: eslint --fix, prettier --write

add documentation about database [skip ci]
  website/docs/2. Installation/2.3 Advanced.md
Due: prettier --write

update renovate config [skip ci]
  renovate.json
Due: prettier --write

migrate to latest husky [skip ci]
  .husky/.gitignore
  .husky/post-merge
  .husky/pre-commit
  .huskyrc.yml
  package-lock.json
  package.json
Due: prettier --write

upgrade prettier
  .lintstagedrc.yml
  package-lock.json
  package.json
  public/index.html
Due: prettier --write

fix regex
  config/schema/link.yaml
Due: prettier --write

enforce the same min/max length limit to backend
  routes/redirect.js
Due: eslint --fix, prettier --write

fix validation in backend
  routes/redirect.js
Due: eslint --fix, prettier --write

oops
  routes/redirect.js
Due: eslint --fix, prettier --write

don't download non-HTML pages
  lib/got.js
  lib/scrape.js
  models/link.js
Due: eslint --fix, prettier --write

fix timeouts and HTTP headers
  __utils__/mock-http-requests.js
  lib/got.js
  lib/scrape.js
Due: eslint --fix, prettier --write

don't download non-HTML pages (#798)
  __utils__/mock-http-requests.js
  lib/got.js
  lib/scrape.js
  models/link.js
Due: eslint --fix, prettier --write

executable pls
  .husky/post-merge
Due: none

add support for client auth methods that require client secret
  .env
  middlewares/passport.js
  website/docs/2. Installation/2.1 Prerequisites.md
Due: eslint --fix, prettier --write
