Repository JaneJeon/blink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

jest 27 requires node-notifier to be installed
  package-lock.json
  package.json
Due: prettier --write

Update dependency openid-client to v5
  package-lock.json
  package.json
Due: prettier --write

closes #694
  src/App.css
  src/App.js
Due: eslint --fix, prettier --write

overhaul release and tagging system (closes #628)
  .circleci/config.yml
  Makefile
Due: prettier --write

x
  .circleci/config.yml
Due: prettier --write

cut the REACT_TEST variable
  package.json
  policies/index.js
Due: eslint --fix, prettier --write

closes #637
  .env
  .env.development
  bin/www
  jest.config.js
  package.json
  scripts/compile-schema.sh
  scripts/setup-db.js
Due: eslint --fix, prettier --write

migrations [skip ci]
  Procfile
  website/docs/2. Installation/2.3 Advanced.md
Due: prettier --write

watch mode
  package.json
Due: prettier --write

fix workflow - onchange was crashing backend
  bin/www
  package-lock.json
  package.json
Due: prettier --write

test watching workflow
  package.json
Due: prettier --write

fix logger not displaying the correct timezone
  docker-compose.yml
Due: prettier --write

pls fix tests
  .circleci/config.yml
Due: prettier --write

make it easier to run node commands for dev/test
  Dockerfile
Due: none

mock timeout for http requests
  __utils__/mock-http-requests.js
  lib/scrape.js
  lib/scrape.test.js
  models/link.test.js
  package-lock.json
  package.json
  routes/api/links.test.js
Due: eslint --fix, prettier --write

set timeouts
  .circleci/config.yml
  .env
  .env.test
Due: prettier --write

whoops
  routes/api/links.test.js
Due: eslint --fix, prettier --write

closes #617; need to test locally
  package.json
  scripts/drop-db.js
  scripts/setup-db.js
  seeds/20210125230719_clean.js
  website/docs/2. Installation/2.3 Advanced.md
Due: eslint --fix, prettier --write

?
  __utils__/mock-http-requests.js
Due: eslint --fix, prettier --write

try
  __utils__/mock-http-requests.js
Due: eslint --fix, prettier --write

enable connections
  __utils__/mock-http-requests.js
Due: eslint --fix, prettier --write

wtf is going on here
  __utils__/mock-http-requests.js
  lib/scrape.js
Due: eslint --fix, prettier --write

close more shit after close
  __utils__/teardown-db.js
  bin/www
  jest.config.js
  lib/close-connections.js
  lib/setup-db.js
Due: eslint --fix, prettier --write

well, I tried
  lib/scrape.js
  models/link.test.js
Due: eslint --fix, prettier --write

mock timeout for http requests (#697)
  .circleci/config.yml
  .env
  .env.test
  __utils__/mock-http-requests.js
  __utils__/teardown-db.js
  bin/www
  jest.config.js
  lib/close-connections.js
  lib/scrape.js
  lib/scrape.test.js
  lib/setup-db.js
  models/link.test.js
  package-lock.json
  package.json
  routes/api/links.test.js
Due: eslint --fix, prettier --write

merge conflict
  .circleci/config.yml
  .env
  .env.test
  __utils__/mock-http-requests.js
  __utils__/teardown-db.js
  bin/www
  jest.config.js
  lib/close-connections.js
  lib/scrape.js
  lib/scrape.test.js
  lib/setup-db.js
  models/link.test.js
  package-lock.json
  package.json
  routes/api/links.test.js
Due: eslint --fix, prettier --write

closes #617 and drops knexcleaner
  package-lock.json
  package.json
  scripts/drop-db.js
Due: eslint --fix, prettier --write

Doesn't wipe any DMLs from migrations due to new workflow (#699)
  package-lock.json
  package.json
  scripts/drop-db.js
  seeds/20210125230719_clean.js
  website/docs/2. Installation/2.3 Advanced.md
Due: eslint --fix, prettier --write

Update dependency helmet to v5
  package-lock.json
  package.json
Due: prettier --write

forgot to delete this in #697
  __mocks__/got.js
Due: eslint --fix, prettier --write

fix got issues
  __mocks__/got.js
  __utils__/mock-http-requests.js
  lib/scrape.js
  lib/scrape.test.js
  models/link.test.js
Due: eslint --fix, prettier --write

y
  lib/scrape.js
Due: eslint --fix, prettier --write

hmm
  .circleci/config.yml
Due: prettier --write

welp
  routes/redirect.test.js
Due: eslint --fix, prettier --write

fix got issues (#701)
  .circleci/config.yml
  __utils__/mock-http-requests.js
  lib/scrape.js
  lib/scrape.test.js
  models/link.test.js
  routes/redirect.test.js
Due: eslint --fix, prettier --write

pls work
  .circleci/config.yml
Due: prettier --write

bro please work
  .circleci/config.yml
Due: prettier --write

fix dumbass circleci release
  .circleci/config.yml
Due: prettier --write

upgraded circleci release
  .circleci/config.yml
  scripts/get-tags.sh
  website/docs/2. Installation/2.3 Advanced.md
Due: prettier --write

fix
  .circleci/config.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{md,json,yml,yaml,css,html,toml})
